<html>
    <head>
        <title>Add a CD!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Please add a new CD</h1>

        <form action='/added' method='post'>
            <label for="artist">Artist Name</label>
            <input id="artist" name="artist" type="text">

            <button type="submit">Add CD</button>
        </form>
    </body>
</html>
