<html>
    <head>
        <title>CD collection</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <h1>Here is a list of all of your CD's!</h1>

            {% if artists is not empty %}
                <ul>
                    {% for artist in artists %}
                        <li>{{ artist.getArtist}}</li>
                    {% endfor %}
                </ul>
            {% else %}
            <h2>Currently you have no CDs! Please use the Add CD's button to add some!</h2>
            {% endif %}

        </div>

    </body>
</html>
